@tailwind base;
@tailwind components;
@tailwind utilities;

.angle {
  position: relative;
}

.angle::after {
  content: "";
  position: absolute;
}

.angle2 {
  background-color: #212121;
  position: relative;
}

.angle2::after {
  background-color: rgba(27, 27, 27);
  height: 75px;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}
