@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  color: #ed6a5a;
  background-color: #111827;
}

.angle {
  position: relative;
}

.angle::after {
  content: "";
  position: absolute;
}

.angle2 {
  background-color: #ed6a5a;
  position: relative;
}

.angle2::after {
  background-color: #ed6a5a;
  height: 75px;
  width: 100%;
  clip-path: polygon(0px 0px, 100% 0px, 0% 54.66%);
}

/* Nav Link  */

.nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  position: absolute;
  bottom: -2px;
  left: 0%;
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
}

.nav-link:hover::after {
  transform: scaleX(1);
}
